@font-face {
	font-family: 'blackcoin';
	src:url('./icons/blackcoin.eot');
	src:url('./icons/minified.eot') format('embedded-opentype'),
		url('./icons/format.woff') format('woff'),
		url('./icons/text.ttf') format('truetype'),
		url('./icons/icons.svg') format('svg');		
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"] {
	font-family: 'blackcoin';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
	content: "\e61e";
}
.icon-plus:before {
	content: "\e61d";
}
.icon-checkmark:before {
	content: "\e61c";
}
.icon-cust-share:before {
	content: "\e621";
}
.icon-handcrafted:before {
	content: "\e606";
}
.icon-cust-arrow-right:before {
	content: "\e613";
}
.icon-cust-arrow-left:before {
	content: "\e614";
}
.icon-cust-ball:before {
	content: "\e615";
}
.icon-cust-record:before {
	content: "\e616";
}
.icon-cust-network:before {
	content: "\e617";
}
.icon-cust-plane:before {
	content: "\e618";
}
.icon-cust-check:before {
	content: "\e619";
}
.icon-cust-cross:before {
	content: "\e61f";
}
.icon-cust-user-key:before {
	content: "\e61a";
}
.icon-cust-pdf:before {
	content: "\e620";
}
.icon-cust-stopwatch:before {
	content: "\e61b";
}
.icon-cust-key:before {
	content: "\e600";
}
.icon-cust-arrow-cross:before {
	content: "\e601";
}
.icon-cust-iphone:before {
	content: "\e602";
}
.icon-cust-ipad:before {
	content: "\e603";
}
.icon-cust-imac:before {
	content: "\e604";
}
.icon-cust-paper:before {
	content: "\e605";
}
.icon-cust-barchart:before {
	content: "\e607";
}
.icon-cust-arrow:before {
	content: "\e608";
}
.icon-cust-analytics:before {
	content: "\e609";
}
.icon-cust-help:before {
	content: "\e60a";
}
.icon-cust-user:before {
	content: "\e60b";
}
.icon-cust-laptop-user:before {
	content: "\e60c";
}
.icon-cust-coins:before {
	content: "\e60d";
}
.icon-cust-calendar:before {
	content: "\e60e";
}
.icon-cust-book:before {
	content: "\e60f";
}
.icon-cust-write:before {
	content: "\e610";
}
.icon-bbshield:before {
	content: "\e611";
}
.icon-bblogo:before {
	content: "\e612";
}
